.DS_Store
.idea
coverage
node_modules
*.log
dist
vendor/*
tmp/*
.vagrant
lib
doc/temp.txt

src/server/ssl/
src/server/ssl/

sendgrid.env
config/development.json
config/test.json
config/production.json
